<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
错误信息：<h1 th:text="${error}"/>
<table border="1px solid black" style="border-collapse: collapse;">
    <tr>
        <td>字段</td>
        <td>错误信息</td>
    </tr>
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"></td>
        <td th:text="${error.DefaultMessage}"></td>
    </tr>
    <tr th:each="error : ${errors1}">
        <td th:text="${error.propertyPath}"></td>
        <td th:text="${error.messageTemplate}"></td>
    </tr>
</table>
</body>
</html>
